@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

.LoginInput, .UserInput {
    width: 300px;
    height: 45px;
    margin: 3px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 9px;
    border: 1.25px solid #000;
    background: #FFF;
}

.LoginButton, .UserButton, .WelcomeButton {
    color: #FFF;
    background-color: #A44A21;
    width: 300px;
    height: 51px;
    margin: 10px;
    padding: 5px;
    border-radius: 9px;
    border: none;
}

.LogoImg {
    margin-bottom: 15px;
}

.LogoLabel {
    color: #A44A21;
    font-family: Agbalumo, sans-serif;
    font-size: 40px;
    margin-bottom: 3px;
    padding: 10px;
}

.welcomeMessage {
    font-family: Sunflower, sans-serif;
    font-size: 40px;
    margin: 5px;
}

.errorMessage {
    margin-bottom: 10px;
}

#customNavbarLink {
    font-family: Agbalumo, sans-serif;
}

.AlbumLabel {
    color: #A44A21;
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 5px;
}

.AlbumSortLabel {
    color: #A44A21;
    font-family: Noto Sans KR;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AlbumSortButton, .MovePhotoButton, .DeletePhotoButton, .DownloadPhotoButton {
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

.AlbumSearchInput {
    margin-left: 20px;
    padding-left: 15px;
    width: 425.799px;
    height: 33.281px;
    flex-shrink: 0;
    border-radius: 9px;
    border: 1px solid #000;
    background: #FFF;
}

.AlbumDetailHeader {
    float: right;
    margin-right: 160px;
}

.AlbumNameLabel {
    font-size: 40px;
    margin-left: 300px;
    margin-bottom: 10px;
    text-align: left;
}

.AddPhotoButton {
    width: 180px;
    height: 56px;
    border: none;
    float: left;
    color: #FFF;
    background: #E6864E;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px;
    margin-left: 30px;
}

.AlbumDetailLabel {
    margin-top: 12px;
    margin-right: 800px;
    font-size: 20px;
    margin-left: 30px;
}

.FileUploadContainer {
    position: relative;
    display: inline-block;
}

.FileLabel {
    background-color: #E6864E;
    color: #fff;
    text-align: center;
    padding: 12px;
    width: 180px;
    height: 56px;
    font-size: 20px;
    cursor: pointer;
    float: left;
    margin-left: 90px;
}

.FileInput {
    display: none;
}
